body {
	font-family: Futura, "Gill Sans", sans-serif;
	margin:0;
	padding:0;
	height: 100%;
	overflow: hidden;
	font-size: 20px;
	line-height: 28px;
	background-color: black;
}
.w50c {
	text-align: center;
	width: 50%;
	margin: 10% 25%;
}
